#title {
    background-color: #ff4c68;
}

body {
    font-family: "Monterrat";
}

h1 {
    font-family: 'Montserrat', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 1.9rem;
}

p {
    color: #8f8f8f;
    font-size: 1.25rem;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu";
}

.nav-link {
    margin-left: 5px;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 5%;
    font-size: 1.5rem
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.logo-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-table {
    padding: 3% 2%;
}

@media(max-width:1030px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

.action {
    background-color: #ff4c68;
    text-align: center;
    color: azure;
    font-weight: bold;
    padding: 7% 15%;
    font-size: 3.5rem;
    line-height: 1.5;
}

.ros {
    margin: 5% 3% 5% 0%;
}